body{
    background-color: #E4F1FF;
}

h4{    
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #578CCA;    
}

.cardRow1{
    height: 11rem;
    width: 25rem;
    background: #FFFFFF;          
    padding-left: 2rem;
    padding-top: 1rem;
    position: absolute;
    bottom: 1rem;
    margin-left: 2rem;
    margin-bottom: 15rem;
    display: flex;
    border-radius: 2rem;    
}

.cardRow2{
    height: 11rem;
    width: 25rem;
    background: #FFFFFF;          
    padding-left: 2rem;
    padding-top: 1rem;
    position: absolute;
    bottom: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: flex;
    border-radius: 2rem;      
}

.cardRow3{
    height: 11rem;
    width: 25rem;
    background: #FFFFFF;          
    padding-left: 2rem;
    padding-top: 1rem;
    position: absolute;
    bottom: 1rem;
    margin-left: 2rem;
    margin-bottom: -10rem;
    display: flex;
    border-radius: 2rem;      
}

.card a{
    background: #E4F1FF;
    color: #578CCA;    
}

.dboard{
    margin-top: 3rem;
    margin-left: 13rem;
}

.dboard1{
    margin-top: 3rem;
    margin-left: 13rem;
}

.logo{
    margin-right: 900px;
    width: 150px;
    height: 100px;
}

.shadowNewSchedule{
    width: 30%; 
    height: 21rem;
    position: absolute; 
    top: 10rem;     
    right: 25rem;
    background: #FFFFFF;    
    font-style: normal;
    font-weight: normal;
    font-size: 100%    
}

.cardAppoinment{
    height: 10rem;
    width: 30rem;
    background: #FFFFFF;          
    padding-left: 2rem;
    padding-top: 1rem;
    position: absolute;
    top: 20rem;
    margin-left: 25%;
    margin-bottom: 15rem;
    display: flex;    
}

.cancel{
    margin-left: 5rem;
}

.appointmenttitle{
    margin-top: 5rem;
}

.cardUpdateAppoinment{
    height: 10rem;
    width: 30rem;
    background: #FFFFFF;          
    padding-left: 2rem;
    padding-top: 1rem;
    position: absolute;
    top: 20rem;
    margin-left: 26%;
    margin-bottom: 15rem;
    display: flex;
}

.updatebtn{
    margin-left: 5rem;
}

.scheduletableH{
    margin-top: -25rem;
    width: 60rem;
    margin-left: 5rem;
}

.scheduletable{    
    width: 60rem;
    margin-left: 5rem;    
}

.emailSend{
    margin-top: -26rem;
    margin-left: 20rem;
    height: 34rem;
}

.emailSend button{
    margin-left: 1rem;
}
