
/* Split the screen in half */
.split {
  height: 70%;
  width: 50%;
  position:absolute;
  z-index: 1;
  top: 20%;
  overflow-x: hidden;

  
}

/* Control the left side */
.left {
  left: 0;
  background-color: rgb(158, 215, 238);
  margin-top: 2%;
    margin-left: 5%;  
    margin-right: 5%;
    margin-bottom: 30%;
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(203, 231, 241);
  margin-top: 2%;
    margin-left: 5%;  
    margin-right: 5%;
    margin-bottom: 30%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 17, 73);
}


.split-profile{
    font-size: 18px;
    font-weight: bold; 
    text-Align: 'justify';
    line-Height: 4;
    color: rgb(86, 86, 128); 
     
}

.text-set{
    color: rgb(13, 89, 189); 
    font-weight: bold;
    font-family: sans-serif;
}


