.signatureCanva{
    border: 1px solid black;
    background-color: aliceblue;
    width: 100%;
    min-height: 500px;
}
.sigapp{
    background-image: url('C:\Users\User\Desktop\frontend\software_project\public\doc_reges.jpg');
    width: 100%;
    height: 100%;
    margin: auto;

}


.belowtext{
    text-align:left;
    font-size:larger;
    color: rgb(7, 12, 14);

}
.abovetext{
    text-align: center;
}