body{
    background: #DBECFF;
    min-height: 100vh; 
    font-family: Roboto;  
}

h2{    
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #578CCA;    
}

/*h6{
    text-align: center;    
}*/

/*Form*/  
.shadow{       
    
    width: 400px; 
    height: 700px;
    position: absolute;
    margin: 5% 0 0 35%;   
    background: #FFFFFF;    
    font-style: normal;
    font-weight: normal;
    font-size: 18px
}

.shadowLogin{
    width: 400px; 
    height: 400px;
    position: absolute;
    margin: 5% 0 0 35%;   
    background: #FFFFFF;    
    font-style: normal;
    font-weight: normal;
    font-size: 18px    
}

.shadowDProfile{
    width: 400px; 
    height: 850px;
    position: absolute;
    margin: 5% 0 0 35%;   
    background: #FFFFFF;    
    font-style: normal;
    font-weight: normal;
    font-size: 18px    
}

.form-control{
    background: #E3F0FF;
    border: 2px solid #578CCA;
    box-sizing: border-box;
    border-radius: 15px;
}

.form-check{
    text-align: center;
}

button.signup{    
    background: #578CCA;
    border-radius: 15px;
    padding: 5px 105px;
}

.col{
    text-align: center;
}


/*First Navbar*/
#nav1{
    background-color: #578CCA;
}

/*Third Navbar*/
#nav3 a:hover{
    background-color: #85a0be;
}

/*Footer*/
footer{
    margin-top: 800px;
}

#button-addon1 {
    color: white
}

i {
    color: white;
    font-size: 20px
}   

.footer-bg{
    background-color: #578CCA;
}

.footer-c{
    background-color: rgba(112, 172, 242, 0.5);
}
/*End of the Footer Styles*/

/*Home Page*/
.imagePart{
    width: 100%;
    height: 600px;
}

.appointmentBox{
    height: 170px;
    width: 420px;
    background: rgba(87, 140, 202, 0.7);          
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
    bottom: 8px;
    left: 50px;
}

.appointmentBox button{
    margin-left: 200px;
    margin-top: 10px;       
}

.specialServices{
    height: 500px;
    width: 100%;
    background:#054CA0;
}

.circle{    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #DBECFF;       
}

.services{
    width: 50px;
    height: 50px;
    margin-top: 30px;    
}

.reviews{
    height: 690px;
    width: 100%;
    background: #E4F1FF; 
}

.reviews i{
    color: rgb(233, 236, 20);
}

.reviews button{
    border-color: #578CCA;    
}

.dReview{
    width: 350px;
    height: 250px;
}

.newsimg{
    width: 90%;
    height: 400px;
    position: absolute;    
}

.patientReview{
    border-radius: 50%;
}
/*End of the Home Page Styles*/

